.mainbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.content {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
}

.wrap {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
}

.welcome {
  text-align: center;
  margin-top: 100px;
}
